body{
    background-color: rgb(192, 227, 238);
}
.Titulo{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(33, 69, 100);
}
.subT{
    text-align: center;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(26, 27, 73);
}
.grudada {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
    font-family: 'PT Serif', serif;
    position: sticky;
    color:black;
    top: 0;
    height: 4em;
    background-color: rgb(52, 191, 255);
    font-family: 'Source Sans Pro', sans-serif;
  }
  .grudada a:hover{
    background-color: aliceblue;
    color: black;
}

.grudada a{
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.grudada a.active {
    background-color: aliceblue;
    color: black;
}
.master {
    background-color: rgb(213, 232, 248);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    font-family: 'Source Sans Pro', sans-serif;
}
.emalta{
    background-color: rgb(255, 255, 255);
}
.direita {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center; 
    margin-left: 1%;
}

.cimaBaixo {
    display: flex;
    width: 100%;
    margin: 1em;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.Noticia-comI{
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    height:50%;
    margin-left: 4%;
    margin-right: 3%;
    transition: 0.3s;
}
.Noticia-comI:hover{
    box-shadow:0 8px 16px rgba(0,0,0,0.3);
}

.separa{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-left: 2%;
}

.titulo_M{
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    color: rgb(26, 27, 73);
}
.negrito_titulo{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: black;
}
.materia{
    
}
.Noticia_semI{
    background-color: rgb(255, 255, 255);
    height: 30%;
    margin-right: 2%;
    transition: 0.3s;
}
.Noticia_semI:hover{
    box-shadow:0 8px 16px rgba(0,0,0,0.3);
}

.tituloEM{
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color: rgb(26, 27, 73);
}

.topo{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: black;
}